body {
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#flairdocs-banner {
    margin-top: 0px;
    background-color: #5697ff;
    width: 100%;
    display: block;
    padding: 13px;
}

#workflow-designer-top-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 800px;
    width: 99%;
    height: 380px;
    min-height: 380px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 2px;
}

#workflow-designer-menu {
    order: 0;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    width: 220px;
    min-width: 220px;
    height: 380px;
    min-height: 380px;
    border: 1px solid #333;
}

    
    /*
        These are buttons within the workflow-designer-menu div
    */
    #workflow-designer-menu button {
        width: 190px;
        padding: 10px;
        border: none;
        margin-top: 2px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: black;
        text-align: left;
        background-color: white;
        outline: none;
    }

        #workflow-designer-menu button:hover {
            background-color: #e0e0e0;
        }

        #workflow-designer-menu button:active {
            background: #bababa;
            padding: 10px;
        }

    #workflow-designer-menu input:focus {
        border: none;
    }

    #workflow-designer-menu input {
        box-shadow: inset 0px 0px 3px 0px #333;
        width: 190px;
        border: none;
        padding: 10px;
        margin: 8px auto;
        display: block;
        text-align: left;
        background-color: white;
    }

        #workflow-designer-menu input:focus {
            outline-style: none;
        }

#workflow-designer-window {
    order: 1;
    flex-grow: 1;
    min-width: 500px;
    min-height: 380px;
    height: 100%;
    border: 1px solid #333;
    margin-left: 12px;
}
/*
        Elements below are children of the workflow-designer-window
    */
#workflow-designer-window-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

#workflow-designer-window-buttons div{
    max-width: 300px;
    margin-right: 10px;
}
/*
            These are button elements within the workflow-designer-window-buttons div
        */
#add-reviewer-button {
    border: none;
    padding: 14px;
    background-color: #5697ff;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 14px;
    text-align: center;
}

    #add-reviewer-button:hover {
        cursor: move;
    }

#save-workflow-button {
    float: right;
    border: none;
    padding: 14px;
    background-color: #5697ff;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 14px;
    text-align: center;
}

#workflow-designer-window-edit {
    margin-top: 10px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 97%%;
    max-height: 81%;
    min-height: 310px;
    overflow: scroll;
}

    /*
            Elements contained within workflow-designer-window-edit
        */
    #workflow-designer-window-edit .workflow-step {
        max-width: 280px;
        min-width: 280px;
        min-height: 250px;
        border: 1px solid #333;
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        display: table;
    }

    #workflow-designer-window-edit .workflow-step:hover {
        background-color: lightgray;
    }

#add-step-button {
    cursor: pointer;
    font-size: 50px;
    color: #cccccc;
    margin-top: 100px;
    margin-left: 15px;
}
        #add-step-button:hover {
            color: #5697ff;
        }

    

#add-reviewer-button, #save-workflow-button, button {
    outline-style: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent !important;
}


button span {
    margin-right: 8px;
}

#add-reviewer-button span {
    margin-right: 8px;
}