<div id="flairdocs-banner">
    <img src="~/Content/flairsoft-logo.png" alt="Flairdocs" />
</div>
<div id="workflow-designer-top-wrapper">
    <div id="workflow-designer-menu">
        <button id="open-workflow-button" type="button"><span class="glyphicon glyphicon-folder-open"></span>Open Workflow</button>
        <button id="create-workflow-button" type="button"><span class="glyphicon glyphicon-plus"></span>Create Workflow</button>
        <button id="workflow-audit-log-button" type="button"><span class="glyphicon glyphicon-list-alt"></span>Audit Log</button>
        <button id="workflow-settings-button" type="button"><span class="glyphicon glyphicon-cog"></span>Workflow Settings</button>
    </div>
    <div id="workflow-designer-window">
        <div id="workflow-designer-window-buttons">
            <button id="add-reviewer-button" type="button"><span class="glyphicon glyphicon-move"></span>Drag to add Reviewer</button>
            <button id="save-workflow-button" type="button"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
        </div>
        <div id="workflow-designer-window-edit">
            <div class="workflow-step step-0">
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
                <p>The quick brown fox jumped over the lazy dog.</p>
            </div>
            <div class="workflow-step step-0">
   
            </div>
            <div class="workflow-step step-0">

            </div>
            <div class="workflow-step step-0">

            </div>
            <div class="workflow-step step-0">

            </div>
            <div class="workflow-step step-0">

            </div>

        </div>
    </div>
</div>